shamefully-hoist=true
public-hoist-pattern[]=*@tiptap*
public-hoist-pattern[]=*@radix-ui*
public-hoist-pattern[]=*prosemirror*
public-hoist-pattern[]=vite
public-hoist-pattern[]=electron
enable-pre-post-scripts=true
